.env
venv/
__pycache__/
*.py[cod]
data/
*.db
.DS_Store
node_modules/
dist/
build/
.idea/
*.iml
*.keystore
fingerprint.txt
Go Ai-win32-x64/
GoAi-linux-x64/
download-site/files/*.exe
download-site/files/*.deb
download-site/files/*.apk
static/files/*.exe
static/files/*.deb
static/files/*.apk
